APP_NAME="Non-Invasive Health API"
DEBUG=false

# Model
MODEL_PATH=weights/UBFC-rPPG_FactorizePhys_FSAM_Res.onnx
MODEL_CONFIG_PATH=weights/model_config.json
DEVICE=cpu

# Signal processing
FPS=30
BUFFER_SIZE=180
HR_LOW_HZ=0.75
HR_HIGH_HZ=2.5

# Upload
MAX_UPLOAD_MB=100

# Chatbot (RAG)
GEMINI_API_KEY=YOUR_API_KEY_HERE
CHATBOT_MODEL="gemini-2.5-flash"
CHATBOT_MODEL_FALLBACK="gemini-2.5-flash"
VECTORSTORE_PATH=vectorstore/faiss_index

# Supabase
SUPABASE_DB_URL="postgresql://postgres.yoyebrolahzxcvosojun:[PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"
