fastapi
uvicorn
python-multipart
websockets
python-dotenv
pydantic
pydantic-settings
SQLAlchemy
passlib
bcrypt==3.2.2
python-jose
cryptography
psycopg2-binary

opencv-python
opencv-contrib-python
mediapipe==0.10.14
onnxruntime
torch
torchvision
scipy
numpy
pandas
scikit-learn
neurokit2

langchain
langchain-community
langchain-google-genai
google-genai
sentence-transformers
faiss-cpu
rank-bm25
email-validator
supabase
celery
redis
boto3
flower
